body {
  background-image: url("assets/fondo3.jpg");
  background-size: 100% 100%;

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  z-index: -1;
}

.poke-img {
  border-radius: 100px;
  width: 150px;
}

input {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
